export const environment = {
  production: false,
  firebase: {
    apiKey: "TU_API_KEY_AQUI",
    authDomain: "TU_DOMINIO_AQUI",
    projectId: "TU_ID_AQUI",
    storageBucket: "TU_BUCKET_AQUI",
    messagingSenderId: "TU_SENDER_ID_AQUI",
    appId: "TU_APP_ID_AQUI",
    measurementId: "TU_ID_AQUI"
  }
};