
:root {
  --brand-black: #0a0a0a;     /* Un negro más profundo y rico */
  --brand-gold: #b8924e;      /* Tu dorado original */
  --brand-gray: #1f1f1f;      /* Para fondos secundarios */
  --brand-white: #ededed;     /* Blanco suave para lectura */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: var(--brand-black); 
  color: var(--brand-white);
}


h1, h2, h3 {
  letter-spacing: -0.05em; 
}