/* Identidad DACB */
:root {
  --brand-black: #000000;
  --brand-gold: #b8924e; /* Color cuero/premium */
  --brand-light: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: white;
  color: var(--brand-black);
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
}

@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column; 
    text-align: center;
    padding: 20px;
  }
  
  .imagen-billetera {
    width: 100%; 
    height: auto;
  }
}