<section class="hero-section">
  <div class="container">
    
    <div class="hero-content">
      <h1>Ingeniería del detalle en <span class="gold-text">tu bolsillo.</span></h1>
      <p>Minimalismo, durabilidad y estilo. Billeteras de <strong>tela técnica premium</strong> para el hombre moderno que valora la funcionalidad.</p>
      <div class="btn-group">
        <button class="btn-primary">Explorar Colección</button>
      </div>
    </div>

   <div class="hero-image-container">
  <img #walletImage src="images/billeteraprueba.webp" alt="Billetera DACB" class="floating-wallet">
</div>

  </div>
</section>