<section class="hero-section">
  <div class="container">
    
    <div class="hero-content">
      <h1>Ingeniería del detalle en <span class="gold-text">tu bolsillo.</span></h1>
      <p>Minimalismo, durabilidad y estilo. La billetera definitiva para el hombre moderno.</p>
      <div class="btn-group">
        <button class="btn-primary">Ver Colección</button>
        <button class="btn-secondary">Conoce DACB</button>
      </div>
    </div>

    <div class="hero-image-container">
      <img #walletImage src="assets/billeteraprueba.webp" alt="Billetera DACB Flotante" class="floating-wallet">
      </div>

  </div>
</section>